# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.iml
*.log

# Eclipse / IntelliJ IDEA
.project
.classpath
.settings/
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Env
.env
