# Node dependencies
node_modules
npm-debug.log
yarn-error.log
package-lock.json*     # (optional) only if you want to rebuild dependencies fresh each time

# Build outputs
build
dist
coverage

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log

# OS & editor junk
.DS_Store
Thumbs.db
.idea
.vscode

# Git & temporary files
.git
.gitignore
*.swp
*.swo

